# format:
# <rule> <action> <message>
# <action> is the usual REJECT DUNNO DEFER... stuff
#
# <rule> : <attribute> <operator> <comparsion>
# <attribute> is one of postfix policy access attributes (http://www.postfix.org/SMTPD_POLICY_README.html#protocol)
# <operator> is one of:
# == equals
# != differs from
# > larger than
# < smaller than
# ~= matches regex
# <comparison> is either a quoted string or an integer
#
# rules can be ANDed with && and ORed with || or negated with !
# regex can be compiled case insensitive by adding i after the closing slash
#
# Example
# client_name == "unknown" && helo_name~=/^\[[0-9a-fA-F:.]+\]$/ REJECT No FcrDNS and address literal HELO - Who are you?

