[loggers]                                                                                                         
keys=root

[handlers]
keys=sysout,logfile,syslog

[formatters]
keys=sysoutformatter,logfileformatter,syslogformatter

[logger_root]
level=INFO   
handlers=syslog

[logger_threads]
level=INFO     
propagate=0     
qualname=postomaat.threadpool
handlers=logfile             

[logger_workers]
level=DEBUG     
propagate=0     
qualname=postomaat.threads
handlers=logfile

[handler_sysout]
class=StreamHandler
level=NOTSET
formatter=sysoutformatter
args=(sys.stdout,)

[handler_syslog]
class=handlers.SysLogHandler
level=NOTSET
formatter=syslogformatter
args=('/dev/log',handlers.SysLogHandler.LOG_MAIL)

[handler_logfile]
class=handlers.TimedRotatingFileHandler
level=NOTSET
args=('/var/log/postomaat/postomaat.log','midnight',1,14)
formatter=logfileformatter

[formatter_syslogformatter]
format=postomaat[%(process)d]: %(message)s

[formatter_logfileformatter]
format=%(asctime)s %(name)-12s: %(levelname)s %(message)s

[formatter_sysoutformatter]
format=%(asctime)s %(levelname)s %(message)s
