[main]
#identifier can be any string that helps you identifying your config file
#this helps making sure the correct config is loaded. this identifier will be printed out when postomaat is reloading it's config
#Default: dist
identifier=dist

#run as a daemon? (fork)
#default: 1
daemonize=1

#run as user
user=nobody
#run as group
group=nobody

#what plugins do we load, comma separated
plugins=

#custom plugin dir
plugindir=

#bindaddress
bindaddress=127.0.0.1

#incoming port(s) (postfix connects here)
incomingport=9998

[performance]
minthreads=5
maxthreads=80


[PluginAlias]
blackwhitelist=postomaat.plugins.blackwhitelist.BlackWhiteList
call-ahead=postomaat.plugins.call-ahead.AddressCheck
complexrules=postomaat.plugins.complexrules.ComplexRules
dbwriter=postomaat.plugins.dbwriter.DBWriter
enforcemx=postomaat.plugins.enforcemx.EnforceMX
geoip=postomaat.plugins.geoip.GeoIPPlugin
helotld=postomaat.plugins.helotld.HELOTLDPlugin
identitycrisis=postomaat.plugins.rdns.IdentityCrisis
creativetld=postomaat.plugins.rdns.CreativeTLD
recipientrules=postomaat.plugins.recipientrules.RecipientRules
script=postomaat.plugins.script.ScriptFilter
spfcheck=postomaat.plugins.spfcheck.SPFPlugin
enforcetls=postomaat.plugins.enforcetls.EnforceTLS
srsbounce=postomaat.plugins.srs.SRSBounceVerify
ebl=postomaat.plugins.ebl-lookup.EBLLookup
