#copy this to /usr/lib/systemd/system/postomaat.service
#systemctl enable postomaat
#systemctl start postomaat

[Unit]
Description=postomaat policy daemon

[Service]
Type=forking
PIDFile=/run/postomaat.pid
ExecStart=/usr/bin/postomaat --pidfile=/run/postomaat.pid

[Install]
WantedBy=multi-user.target